{% extends 'base.html' %}

{% block content %}
<section class="booking-section">
    <div class="container-md">
        <div class="booking-form-wrap">
            <h2 class="text-center my-5 pb-lg-2 text-white">Atenciones Registradas</h2>
            <div class="row-sm-2 mb-3 text-end mx-4">
            </div>
            <table id="tabla" class="table table-dark table-hover text-center ">
                <thead>
                    <tr>
                        <th>Nro</th>
                        <th>Fecha</th>
                        <th>Tiempo de despacho</th>
                        <th>Calificacion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for atencion in atenciones %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ atencion.fecha }}</td>
                        <td>{{ atencion.tiempo_despacho }} Min</td>
                        <td>{{ atencion.calificacion }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}